html {
min-height: 100%;	
}
body {
	width: 100%;
	height:100%;
	-webkit-font-smoothing: antialiased;
	 background-attachment: fixed !important;
	background: #d7d9e0; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q3ZDllMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM4JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top, #d7d9e0 0%, #ffffff 38%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d7d9e0), color-stop(38%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d7d9e0 0%,#ffffff 38%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d7d9e0 0%,#ffffff 38%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d7d9e0 0%,#ffffff 38%); /* IE10+ */
	background: linear-gradient(to bottom, #d7d9e0 0%,#ffffff 38%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7d9e0', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}
/* Datatables JUI fixes */
.dataTables_info { padding-top: 0; }
			.dataTables_paginate { padding-top: 0; }
			.css_right { float: right; }
			 .fg-toolbar { font-size: 0.8em; height:30px; background:#D1D4DA; border:0px; }
			 .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #d3d3d3; background:#D1D4DA; font-weight: normal; color: #555555; }
			 .dataTables_info { width:40%;}
			#theme_links span { float: left; padding: 2px 10px; }
			
			
			/* Corner radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 12px; -webkit-border-top-left-radius: 12px; -khtml-border-top-left-radius: 12px; border-top-left-radius: 12px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 12px; -webkit-border-top-right-radius: 12px; -khtml-border-top-right-radius: 12px; border-top-right-radius: 12px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 12px; -webkit-border-bottom-left-radius: 12px; -khtml-border-bottom-left-radius: 12px; border-bottom-left-radius: 12px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 12px; -webkit-border-bottom-right-radius: 12px; -khtml-border-bottom-right-radius: 12px; border-bottom-right-radius: 12px; }
#newsletter_table {
	font-size:11px;
}
#newsletter_table a {
	text-decoration:none;
	font-weight:bold;
}
.dataTables_filter {
	padding-right:10px;
	padding-top:5px;
}
			
			
@font-face {
	font-family: 'spinnaker';
	src: url('/fonts/Spinnaker-Regular.ttf');
}

.classname {
	font: 24px normal normal BrushScriptStdMedium;
}
h1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 38px;
	font-weight: 400;
	text-shadow: none;
	text-decoration: none;
	letter-spacing: -1px;
	word-spacing: 0em;
	line-height: 1.2;
	color: #222;
	margin-bottom: 12px;
	
}
h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 28px;
	font-weight: 200;
	text-shadow: none;
	text-decoration: none;
	letter-spacing: -1px;
	word-spacing: 0em;
	line-height: 1.2;
	color: #222;
	margin-bottom: 12px;
	border-bottom: 3px solid #dbdbdb;
}
h3 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 24px;
	font-weight: 400;
	text-shadow: none;
	text-decoration: none;
	letter-spacing: -1px;
	word-spacing: 0em;
	line-height: 1.2;
	color: #222;
	margin-bottom: 3px;
	
}
p {

	padding-top: 0px;
	padding-bottom: 10px;
	margin: 0;
}
#mainLogo {
	position: absolute;
	right: 5px;
}
#header {

	height: 60px;
	
	margin-bottom: 10px;
	margin-top: 50px;
	display: block;
	position: relative;
}
#header h2 {
	top: 20px;
	position: absolute;
	width: 940px;
}
.memberBox {
	display:block;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	background:#B2B9BE;
	padding-top:10px;
	padding-bottom:6px;
	
}
.memberBox a {
	color:#fff;
	text-decoration:none;
}
.memberBox h1 {
	text-shadow:0px 2px 3px #929292;
	color:#fff;
	margin-bottom:3px;
}

.memberBox h3 {
	color: #6B8391;
	
}
.memberBox h4 {
	margin-bottom:0px;
	color: #7A9499;
}
.memberBox img {
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 2px 2px 9px #929292;
-webkit-box-shadow: 2px 2px 9px #929292;
box-shadow: 2px 2px 9px #929292;
}
.memberBox li {
	color: #7A9499;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	float:right;
	padding-left:5px;
	margin-bottom:0px;
}
.adminBar {
	background:#555;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding:5px;
	margin-bottom:5px;
	color:#ddd;
	-moz-box-shadow: 2px 2px 9px #929292;
-webkit-box-shadow: 2px 2px 9px #929292;
box-shadow: 2px 2px 9px #929292;
}
.adminBar a {
	color:#333;
	font-size:12px;
	text-shadow: 0 1px rgba(255, 255, 255, .75);
	text-decoration:none;
	background:#ddd;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding:2px 5px;
	-moz-box-shadow: 2px 2px 9px #2c2c2c;
-webkit-box-shadow: 2px 2px 9px #2c2c2c;
box-shadow: 2px 2px 9px #2c2c2c;
}
.adminBar h4 {
		color:#ddd;
	text-shadow: 0 1px rgba(0, 0, 0, .75);
}
.adminBar a:hover {
	background:#999;
	text-shadow: 0 1px rgba(150, 150, 150, .75);
}
.adminBar input[type="submit"] {
	height:22px;
	float:right;
	margin-bottom:0px;
	padding-top:2px;
}
.adminBar select {
	margin:0px;
}
#taglist {
  display: inline;
  list-style: none;
}

#taglist li {
	
  display: inline;
}

#taglist li:after {
  content: ", ";
}
#taglist li:first-child:after {
    content: ""
}
#mainContainer {
	margin: 0 auto 0;
	display: block;
}
#container {
	background: #fff;
	display: block;
}
#breadcrumb {
	height: 26px;
	background: url('images/breadcrumb.jpg') repeat-x #036;
	width: 960px;
	margin: 0 auto;
	display: block;
	position: relative;
}
#menucontainer {
	position: fixed;
	z-index: 100000;
	background: #3e3e3e;
	width: 100%;
	margin: 0 auto 20px;
	border-bottom: 3px solid #fff;
	-moz-box-shadow: 0px 4px 11px #242424;
	-webkit-box-shadow: 0px 4px 11px #242424;
	box-shadow: 0px 4px 11px #242424;
}

.maincontent {
	padding-top: 10px;
	padding-bottom: 10px;
}
#bottomfooter {
	background: #3d3d3d;
	height: 50px;
	clear: both;
	width: 100%;
	margin: 0 auto;
	padding-top: 8px;
	color: #eee;
}

.bottom_menu {
	background: #3d3d3d;
	color: #eee;

	margin: 0px auto;
	padding: 0px;
}

.footertext a {
	color: #fff;
}
#logo {
	float: left;
	display: block;
	margin-top: 35px;
	margin-left: 30px;
	margin-bottom: 10px;
	height: 85px;
	width: 352px;
	position: relative;
}
#menutop {

	width: 100%;
	height: 31px;
	text-align: left;
	font-family: sans-serif;
	font-weight: normal;
	font-size: 12px;
	padding-left: 0px;
	border-top: solid 0px #4a5b63;
	line-height: 31px;
	z-index: 500;
	display: block;
	position: relative;
}
#menutop ul {

	margin-right: auto;
	margin-left: auto;
}
#menutop li {
	display: inline;
}

#menutop a {
	text-decoration: none;
	color: #ffffff;
}

.footermenu {
	clear: both;
	text-align: center;
	position: relative;
	padding-left: 0px;
	margin: 0;
	font-size: 0.8em;
	line-height: 1.6em;
}
.footermenu ul {
	margin-top: 0px;
	margin-bottom: 0px;
}
.footermenu li {
	display: inline;
	margin-left: 5px;
	margin-right: 5px;
}

.footermenu a {
	text-decoration: none;
	color: #eee;
}

#top_menu {
	background: #424242;
	color: #ffffff;
	float: right;
	padding: 9px 20px 5px;
	height: 24px;
	width: 448px;
	-moz-box-shadow: 5px 5px 11px #191919;
	-webkit-box-shadow: 5px 5px 11px #191919;
	box-shadow: 5px 5px 11px #191919;
	border: none 5px #191919;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#top_menu li {
	display: inline;
	padding-right: 35px;
}

#top_menu a {
	text-decoration: none;
	color: #ffffff;
}

.slide_area {
	z-index: 100;
	position: relative;
	margin-bottom: 20px;
}
#HomePicOverlay {
	position: absolute;
	z-index: 500;
	display: none;
	margin-left: 10px;
}
#HomePicOverlay2 {
	position: absolute;
	z-index: 500;
	display: none;
}
.slideshow {
	margin-left: 0px;
	z-index: 400;
	margin-bottom: 10px;
	display: block;
}
.slideshow img, .slideshow2 img {
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
}
#side_box {

	margin-left: 0;
	margin-right: 0;
	padding-right: 0px;
	color: #ffffff;
	padding-left: 10px;
}

#breadcrumb2 {
	height: 30px;
	background: url('/images/backgrounds/black50.png');
	margin-left: 0;
	margin-right: 0;
	padding-right: 10px;
}
#main {
	background: url('/images/backgrounds/brown75.png');
}
#main_container {
	margin-left: 0;
	margin-right: 0;
	padding-left: 10px;
	background: #ffffff;
	opacity: 0.5;
}

#side_box  img {

}
#sidebox {
	margin-bottom: 12px;
}
#section2 {
	border-top:10px solid #ddd;
	padding-top: 5px;
	font-size: 12px;
	background: #B2B9BE;
	min-height: 138px;
}
#section2 h2 {
	border-bottom: 3px solid #919197;
}

#featured {
	background: #D1D4DA;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom:5px;
	margin-bottom:10px;
		-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
}
#featured h2 {
	border-bottom: 3px solid #bababa;
	
}
#featured img {
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 2px 2px 9px #929292;
-webkit-box-shadow: 2px 2px 9px #929292;
box-shadow: 2px 2px 9px #929292;
}

	.regionControl {

		font-size: 24px;
		margin-bottom:10px;
		padding-bottom:0px;
		text-shadow:0px 2px 3px #929292;
		cursor:pointer;
	}
.regionControl:hover {
	color:#FFC976;
	text-shadow:0px 2px 3px #555555;
}
	.countryControl {

		cursor:pointer;
	}
.countryControl:hover {
	color:#D08209;
}
#section2 a {
	text-decoration: none;
	color: #2E333D;
}

#section2  ul li:before {

	content: "\00BB \0020";
}
#section2  ul {

	margin-left: 0px;
	padding-left: 0px;
}
#section2  li {
	list-style: none;
}
#section3 {
	font-size: 0.9em;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	background: #000000;
	color: #aaaaaa;
}
/* Contact Form */
#contact_form input, textarea {
	padding: 6px;
	border: solid 1px #d0d0d0;
	width: 250px;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	margin-bottom: 0px;
}
#contact_form input[type="checkbox"] {
	width: 30px;
	padding-bottom: 4px;
}
#contact_form input:hover, textarea:hover, input:focus, textarea:focus {
	border-color: #a0a0a0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}
#contact_form label {
	margin-left: 0px;
	color: #999999;
}

#contact_form textarea {
	width: 400px;
	max-width: 400px;
	height: 150px;
	line-height: 150%;
}

.services {
	border: 0px solid #e4d6d2;
	width: 192px;
	float: left;
	padding: 20px 30px;
}
.title {
	border: 0px solid #000;
	display: block;
	width: 192px;
	clear: both;
}

#services_container {
	margin: 0 auto;
	width: 760px;
}
.title h2 {
	text-transform: uppercase;
	text-align: center;
}

ul.countries {
	list-style: none;
	padding: 0 40px 20px 0;
	margin: 0;
	float: left;
}
ul.regionList  {
	
}
.regionList h4 {
	padding-left:5px;
	border-bottom:2px solid #b8b8b8;
	
	
	color:#4b4b4b;
}
ul.topnav {
	list-style: none;
	padding: 0 0px;
	margin: 0;
	float: left;
	width: 960px;
	background: #222;
	background: url(topnav_bg.gif) repeat-x;
}
ul.topnav li {
	float: left;
	margin: 0;
	padding: 0 18px;
	background-position: 0 0;
	position: relative; /*--Declare X and Y axis base for sub navigation--*/
	border-left: 1px solid #333; /*--Create bevel effect--*/
	border-right: 1px solid #333; /*--Create bevel effect--*/
}
ul.topnav li a {
	padding: 5px 0px;
	color: #ddd;
	display: block;
	text-decoration: none;
	line-height:21px;
	font-size:10px;
	/*     border-bottom: 3px solid #f99000; --Create bevel effect--*/
	float: left;
}
ul.topnav li a:hover {
	background-position: bottom;
}
ul.topnav li span {/*--Drop down trigger styles--*/
	width: 17px;
	height: 35px;
	float: left;
	/*	background: url(subnav_btn.gif) no-repeat center top;*/
}
ul.topnav li span.subhover {
	background-position: center bottom;
	cursor: pointer;
}/*--Hover effect for trigger--*/
ul.topnav li ul.subnav {
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	left: 0;
	top: 31px;
	z-index: 1000;
	margin: 0;
	padding: 0;
	display: none;
	float: left;
	width: 170px;
	border-top: 3px solid #f99000;
}

ul.topnav li ul.subnav li {
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #d08209; /*--Create bevel effect--*/
	border-top: 1px solid #f4ae41; /*--Create bevel effect--*/
	border-left: 0px solid #0e3a55; /*--Create bevel effect--*/
	border-right: 0px solid #186797; /*--Create bevel effect--*/
	clear: both;
	background-position: bottom;
	z-index: 1000;
}
html ul.topnav li ul.subnav li a {
	float: left;
	width: 150px;
	padding-left: 20px;
}
html ul.topnav li ul.subnav li a:hover {/*--Hover effect for subnav links--*/
	background: #fe9611;
}

ul.subnav {

	background: #fb9e0e;
}
ul.subnav li {
	background-image: none;
	background: #fb9e0e;
}
ul.subnav li a {
	padding: 4px 0px;
	color: #fff;
	display: block;
	text-decoration: none;
	float: left;
}
ul.mega {
	background: #ddd;
	width: 500px;
	height: 300px;
}
#box-table-a {

	font-size: 12px;
	margin: 0 0px 0px 0px;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}
#box-table-a th {
	font-size: 13px;
	font-weight: normal;
	text-align: left;
	padding: 8px;
	background: #0e3a55;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #fff;
}
#box-table-a td {
	padding: 8px;
	background: #e8edff;
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
	position: relative;
}
#box-table-a tr:hover td {
	background: #d0dafd;
	color: #339;
}

#box-table-b {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 480px;
	text-align: center;
	border-collapse: collapse;
	border-top: 7px solid #9baff1;
	border-bottom: 7px solid #9baff1;
}
#box-table-b th {
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #e8edff;
	border-right: 1px solid #9baff1;
	border-left: 1px solid #9baff1;
	color: #039;
}
#box-table-b td {
	padding: 8px;
	background: #e8edff;
	border-right: 1px solid #aabcfe;
	border-left: 1px solid #aabcfe;
	color: #669;
}

.newsImage {
	float: left;
	width: 200px;
	padding-right: 20px;
}
.newsImage img {
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	width: 200px;
}
.newsContent {

}
.hoverbox {

	width: 16px;
	height: 16px;
}
.infobox {
	position: absolute;
	width: 300px;
	padding: 10px;
	z-index: 2000;
	display: none;
	margin: 0px;
	background-color: black;
	opacity: 0.9;
	color: white;
}

.widget {
	width: 100%;
	margin: 0px;
	padding: 0px;
	background: #fff;
	border: 0px solid #dedbd1;
	margin-bottom: 15px;
}

.widget a {
	color: #222;
	text-decoration: none;
}

.widget a:hover {
	color: #009;
	text-decoration: underline;
}



.newsDiv {

	padding-bottom: 10px;
	padding-top:10px;
	border-top: solid 1px #ddd;
}

.newsDiv:first-child {

	border-top: solid 0px #ddd;
}