#chinaMap {
	display:block;
	width:920px;
	height:600px;
	background:url('images/chinaMap.png') no-repeat;
	background-size:920px 600px;
	clear:both;
	position:relative;
	
}
.regionBullet {
	background:#000033;
	height:12px;
	width:12px;
	position:absolute;
	z-index:500;
	-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius:6px;
cursor:pointer;
	
	
}
.regionBullet p {
	position:relative;
	display:none;
	padding:3px;
	margin-top:0px;
	z-index:1000;
	background:#ffffff;
	width:100px;
	left:13px;
	
}
.bulletLabel {
	display:none;
	position:absolute;
	padding:3px;
	margin-top:0px;
	z-index:1000;
	background:#fff;
	width:100%;
	text-align:center;
	left:0px;
	
	-moz-box-shadow: 2px 3px 5px #000000;
-webkit-box-shadow: 2px 3px 5px #000000;
box-shadow: 2px 3px 5px #000000;
}

.bullethover {
	background:#D08209;
}

#mapDialog {
	display:none;
	width:350px;
	
	position:absolute;
	
	top:200px;
	left:0px;
	background:#fff;
	-moz-box-shadow: 2px 3px 5px #000000;
-webkit-box-shadow: 2px 3px 5px #000000;
box-shadow: 2px 3px 5px #000000;
}

#region1 {  left:30px;	top:575px;	}
#region2 { 	left:667px;	top:224px;	}
#region3 { 	left:683px;	top:239px;	}
#region4 { 	left:653px;	top:244px;	}
#region5 { 	left:602px;	top:268px;	}
#region6 { 	left:502px;	top:217px;	}

#region7 { 	left:764px;	top:191px;	}
#region8 { 	left:813px;	top:156px;	}
#region9 { 	left:822px;	top:97px;	}
#region10 { left:767px;	top:363px;	}
#region11 { left:732px;	top:330px;	}

#region12 { left:746px;	top:395px;	}
#region13 { left:693px;	top:361px;	}
#region14 { left:716px;	top:449px;	}
#region15 { left:669px;	top:424px;	}
#region16 { left:693px;	top:284px;	}
#region17 { left:624px;	top:326px;	}

#region18 { left:601px;	top:372px;	}
#region19 { left:594px;	top:428px;	}
#region20 { left:635px;	top:494px;	}
#region21 { left:551px;	top:489px;	}
#region22 { left:560px;	top:571px;	}
#region23 { left:518px;	top:393px;	}
#region24 { left:434px;	top:375px;	}
#region25 { left:503px;	top:442px;	}
#region26 { left:408px;	top:476px;	}
#region27 { left:175px;	top:340px;	}
#region28 { left:542px;	top:325px;	}
#region29 { left:468px;	top:303px;	}
#region30 { left:338px;	top:286px;	}

#region31 { left:501px;	top:270px;	}
#region32 { left:184px;	top:173px;	}
#region33 { left:665px;	top:525px;	}
#region34 { left:629px;	top:527px;	}
#region35 { left:775px;	top:477px;	}



